---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
import Container from "../../components/Container.astro";
import Text from "../../components/Text.astro";
import Title from "../../components/Title.astro";
import Box from "../../components/Box.astro";
import Features from "../../components/Features.astro";
import * as myPost from "../../posts/crowdfunding.md";
---

<BlogPost title={myPost.frontmatter.pageTitle} description={myPost.frontmatter.pageDescription} keywords={myPost.frontmatter.pageKeywords}>
    <Features />

    <Title>
        <h1 class="mt-8 text-3xl">پلتفرم کراد فاندینگ(Crowd Funding)</h1>
    </Title>
    <myPost.Content />
</BlogPost>
