---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
import Container from "../../components/Container.astro";
import Text from "../../components/Text.astro";
import Title from "../../components/Title.astro";
import Box from "../../components/Box.astro";
import Features from "../../components/Features.astro";

const socials = [
    {
        link: "https://www.linkedin.com/in/alinjf7/",
        icon: "/images/social-icons/linkedin.png",
    },
    {
        link: "https://t.me/alinjf7",
        icon: "/images/social-icons/telegram.png",
    },
    {
        link: "https://wa.me/989127616769",
        icon: "/images/social-icons/whatsapp.png",
    },
];
---

<Layout title="Welcome to Astrolus.">
    <main class="space-y-40">
        <div class="pt-36">
            <Container>
                <Features />
            </Container>
        </div>
    </main>
</Layout>
