---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
import Container from "../../components/Container.astro";
import Text from "../../components/Text.astro";
import Title from "../../components/Title.astro";
import Box from "../../components/Box.astro";
import Features from "../../components/Features.astro";
import * as myPost from "../../posts/crowdFunding.md";
const socials = [
    {
        link: "https://www.linkedin.com/in/alinjf7/",
        icon: "/images/social-icons/linkedin.png",
    },
    {
        link: "https://t.me/alinjf7",
        icon: "/images/social-icons/telegram.png",
    },
    {
        link: "https://wa.me/989127616769",
        icon: "/images/social-icons/whatsapp.png",
    },
];
---

<BlogPost>
    <Features />

    <Title>
        <h1 class="mt-8 text-3xl">پلتفرم کراد فاندینگ(Crowd Funding)</h1>
    </Title>
    <myPost.Content />
</BlogPost>
