---
import Layout from "../layouts/Layout.astro";
import "../style/blogPost.scss";
import Box from "./Box.astro";
import Container from "./Container.astro";

const props = Astro.props;
---

<Layout title={props.title} description={props.description} keywords={props.keywords}>
    <main>
        <div class="pt-16">
            <Container>
                <div class={"blogPost "}>
                    <slot name="title" />

                    <Box>
                        <slot />
                    </Box>
                </div>
            </Container>
        </div>
        <div class="my-8">
            <slot name="afterContent" />
        </div>
    </main>
</Layout>
