---
// Usage: <GreetingHeadline greeting="Howdy" name="Partner" />
const { image, imageAlt } = Astro.props;
---

<div class={"grid my-4 gap-4 grid-cols-1 lg:grid-cols-2"}>
    <div>
        <slot />
    </div>

    <img alt={imageAlt} class="rounded" src={image} />
</div>
