---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import "../style/font.css";

const props = Astro.props;
// Call the function to start measuring Web Vitals
// reportWebVitals();
---

<!doctype html>
<html lang="fa" dir="rtl">
    <head>
        <title>{props.title ? props.title : "alinjf.ir"}</title>
        <meta name="description" content={props.description ? props.description : "راه حل‌های چابک نرم‌افزاری"} />
        <meta name="keywords" content={props.keywords ? props.keywords : "نرم‌افزار,برنامه نویس,Crm,پلتفرم کراد فاندینگ,جمع سپاری جمعی,کراد فاندینگ,سکو کراد فاندینگ"} />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Template built with tailwindcss using Tailus blocks v2" />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta property="og:title" content={props.title ? props.title : "alinjf.ir"} />
        <meta property="og:description" content={props.description ? props.description : "راه حل‌های چابک نرم‌افزاری"} />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/images/logo.svg" />
    </head>
    <body class="bg-white dark:bg-gray-900">
        <AppHeader />
        <slot />
        <a class="w-full fixed bottom-0 right-0 md:w-auto md:right-8 md:bottom-8 animate-pulse" href="https://crowd.alinjf.ir/" target="_blank">
            <div class=" text-white bg-secondary p-4 text-center md:rounded-md">دموی تامین مالی جمعی</div>
        </a>
        <AppFooter />
    </body>
    <!-- <script>
        import { reportWebVitals } from "../components/web-vital";
        reportWebVitals();
    </script> -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DKTPBBGYHR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-DKTPBBGYHR");
    </script>
</html>
