---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
import "../style/font.css";
---

<!doctype html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Template built with tailwindcss using Tailus blocks v2" />
        <title>alinjf.ir</title>
    </head>
    <body class="bg-white dark:bg-gray-900">
        <AppHeader />
        <slot />
        <AppFooter />
    </body>
</html>
